# pycharm folder
.idea/

# vi backups
*~

# build results
dist/
build/
_build/
*.log

# vemnv / Byte-compiled / optimized / DLL files
.env
venv/
__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

